body {
    background: #9c643f;
}
h1 {
    color: #333;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

#gameContainer{
    font-family: "Press Start 2P", cursive;
    text-align: center;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 25px;
    margin: auto;
    padding-right: 195px; 
    padding-top: 40px;
    padding-bottom: 40px;
}

/* From Uiverse.io by catraco */ 

.rstbtn{
  --primary: 34, 197, 94;
  --secondary: 20, 83, 45;
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  cursor: crosshair;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(var(--primary), .5);
  border-radius: 100%;
  position: relative;
  transition: .3s;
}

.rstbtn .back {
  background: rgb(var(--secondary), 1);
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.rstbtn .front {
  background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary), 1) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .5rem;
  font-weight: 600;
  font-family: "Press Start 2P";
  transform: translateY(-15%);
  transition: .15s;
  color: rgb(var(--secondary));
}

.rstbtn:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}
